html, body, app-root, .app-frame {
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}

main {
    width: 80%;
    margin: 16px auto;
}
